.footer {
  background-color: var(--bg-footer);
}

.footer__container {
  width: 1127px;
  margin-inline: auto;
}

.footer__list-wrapper {
  display: grid;
  grid-template-columns: 281px 1fr 281px;
  border-bottom: 1px solid var(--color-gray);
  padding: 60px 0 20px 0;
}

.footer__title {
  margin-bottom: 18px;
  font-size: 14px;
  color: var(--color-black);
  font-weight: 400;
  font-size: 13px;
  vertical-align: middle;
}

.footer__list {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-auto-flow: column;
  gap: 18px;
}

.footer__list-item {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--text-color-dark-gray);

  &:hover {
    text-decoration: underline;
  }
}

.footer__policy-list {
  display: flex;
  gap: 20px;
  padding: 16px 0 18px 0;
}

.footer__policy-list-item {
  font-weight: 400;
  font-size: 12px;
  vertical-align: middle;
  color: var(--text-color-dark-gray);

  &:hover {
    text-decoration: underline;
  }
}

.copyright-text {
  font-weight: 400;
  font-size: 11px;
  vertical-align: middle;
  color: var(--text-color-dark-gray);
  padding-bottom: 9px;
}
