:root {
  --color-blue-primary: #24436f;
  --color-blue-secondary: #345584;
  --color-blue-accent: #3081c9;
  --color-blue-focus: #0a53be;
  --color-blue-hover: #5ca2da;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #e4e4e4;
  --color-gray-secondary: #a2a2a2;
  --color-gray-accent: #f1f1f1;

  --bg-color-gray: #f2f2f2;
  --bg-footer: #fafafa;

  --text-color-grey: #bfc9d7;
  --text-color-dark-gray: #797979;
  --text-color-black: #3b3b3b;
  --font-default: Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
  --font-roboto: Roboto, sans-serif;

  --shadow-button: #0000003d;
}

/* CSS Resets  */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: var(--font-default);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Form element resets */
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-shadow: none;
  background-clip: padding-box;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
