.header {
  width: 100%;
  background-color: var(--color-blue-primary);
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1125px;
  margin: auto;
  padding: 12px;
}

.header__top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 12px;
}

.header__title {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__title-text {
  font-size: 12px;
  color: var(--text-color-grey);
  font-family: var(--font-default);
  font-weight: 400;
}

.header__top-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__user-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 14px;
  white-space: nowrap;
  background-color: var(--color-blue-secondary);
  border-radius: 4px;
}

.header__user-menu-item {
  font-size: 13px;
  font-weight: 400;
  color: var(--color-white);

  &:not(:last-child)::after {
    content: "";
    height: 13px;
    margin-inline: 6.5px;

    border-left: 1px solid var(--text-color-grey);
  }

  &:hover {
    text-decoration: underline var(--color-white);
  }
}

.search-form {
  display: flex;
  align-items: center;
  border-radius: 4px;
  &:focus-within {
    outline: 1px solid var(--color-white);
  }
}

.search-form__input {
  flex: 1;
  width: 243px;
  height: 30px;
  padding-left: 15px;
  font-size: 14px;

  background-color: var(--color-white);
  border-right: none;
  border-radius: 4px 0 0 4px;
  line-height: 30px;
  outline: none;
  box-sizing: border-box;

  &:focus {
    border-color: var(--color-blue-focus);
    border-style: solid;
    border-width: 2px 0 2px 2px;
  }
}

.search-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--color-blue-accent);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.service-list {
  display: flex;
  align-items: center;
}
.service-list__item {
  font-size: 13px;
  line-height: 1.6;
  color: var(--text-color-grey);

  &:not(:last-child)::after {
    content: "";
    height: 13px;
    margin-inline: 6.5px;
    border-left: 1px solid var(--text-color-grey);
  }

  &:hover {
    text-decoration: underline var(--color-white);
  }
}

.service-list__item--current {
  color: var(--color-white);
  font-weight: 700;
}

.category {
  display: flex;
  justify-content: center;
  min-width: 1125px;
  height: 36px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray);
}

.category-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.category-list__item {
  font-size: 13px;
  line-height: 1.6;
  color: var(--color-blue-primary);

  &:hover {
    font-weight: 700;
  }
}

.category-list__item--current {
  font-weight: 700;
}
