/* CSS Resets  */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: var(--font-default);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Form element resets */
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-shadow: none;
  background-clip: padding-box;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

:root {
  --color-blue-primary: #24436f;
  --color-blue-secondary: #345584;
  --color-blue-accent: #3081c9;
  --color-white: #fff;
  --color-black: #000;

  --text-color-grey: #bfc9d7;
  --text-color-black: #3b3b3b;
  --font-default: Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
}

.header {
  width: 100%;
  background-color: var(--color-blue-primary);
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1125px;
  margin: auto;
  padding: 12px;
}

.header__top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 12px;
}

.header__title {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__title-text {
  font-size: 12px;
  color: var(--text-color-grey);
  font-family: var(--font-default);
  font-weight: 400;
}

.header__top-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__user-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 14px;
  white-space: nowrap;
  background-color: #345584;
  border-radius: 4px;
}

.header__user-menu-item {
  font-size: 13px;
  font-weight: 400;
  color: var(--color-white);

  &:not(:last-child)::after {
    content: "";
    height: 13px;
    margin-inline: 6.5px;
    border-left: 1px solid #bfc9d7;
  }

  &:hover {
    text-decoration: underline var(--color-white);
  }
}

.search-form {
  display: flex;
  align-items: center;
  border-radius: 4px;
  &:focus-within {
    outline: 1px solid #fff;
  }
}

.search-form__input {
  flex: 1;
  width: 243px;
  height: 30px;
  padding-left: 15px;
  font-size: 14px;
  background-color: #fff;
  border-right: none;
  border-radius: 4px 0 0 4px;
  line-height: 30px;
  outline: none;
  box-sizing: border-box;

  &:focus {
    border-color: #0a53be;
    border-style: solid;
    border-width: 2px 0 2px 2px;
  }
}

.search-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--color-blue-accent);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.service-list {
  display: flex;
  align-items: center;
}
.service-list__item {
  font-size: 13px;
  line-height: 1.6;
  color: var(--text-color-grey);

  &:not(:last-child)::after {
    content: "";
    height: 13px;
    margin-inline: 6.5px;
    border-left: 1px solid #bfc9d7;
  }

  &:hover {
    text-decoration: underline var(--color-white);
  }
}

.service-list__item--current {
  color: var(--color-white);
  font-weight: 700;
}

.category {
  display: flex;
  justify-content: center;
  min-width: 1125px;
  height: 36px;
  background-color: var(--color-white);
  border-bottom: 1px solid #e4e4e4;
}

.category-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.category-list__item {
  font-size: 13px;
  line-height: 1.6;
  color: var(--color-blue-primary);

  &:hover {
    font-weight: 700;
  }
}

.category-list__item--current {
  font-weight: 700;
}

/* Ranking  css */

/* Main layout css */
.main-layout {
  display: grid;
  grid-template-columns: 7fr 3fr;
  max-width: 1127px;
  margin: 0 auto;
  width: 100%;
  gap: 0;
}
/* main layout content*/
.main-layout__content {
  padding: 1rem;
  min-height: 658px;
  width: 778px;
}
.release-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.release-card {
  width: 380px;
  /* height: 118px; */
  padding: 16px 0;
  border-bottom: 1px solid #e4e4e4;
}

.release-card__link {
  display: flex;
  gap: 15px;
}

.release-card__title {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}

.release-card__img {
  width: 100px;
  height: 66px;
}

.release-card__meta {
  display: flex;
  gap: 12px;
  height: 18px;
  margin-top: 4px;
  justify-content: start;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #a2a2a2;
}

.release-list__load {
  width: 110px;
  height: 38px;
  border-radius: 2px;
  background: var(--color-blue-accent);
  box-shadow: 0px 2px 2px 0px #0000003d;
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;

  &:hover {
    background-color: #5ca2da;
  }
}
/* main layout side bar */
.main-layout__sidebar {
  padding: 1rem;
}

.keyword {
  display: grid;
  gap: 40px;
  width: 308px;
}

.keyword-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color-black);
}

.keyword-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.keyword-list__item {
  padding: 1px 8px;
  font-size: 13px;
  background-color: #f1f1f1;
  border-radius: 14px;
  color: var(--text-color-black);

  &:hover {
    color: var(--color-black);
  }

  &:last-child {
    background-color: var(--color-white);
    border: 1px solid #f1f1f1;

    &:hover {
      color: var(--color-blue-accent);
    }
  }
}
